.outer-container{
    width: 400px;
    height: 400px;
    background-color: cadetblue;
    margin: 100px auto;
}

.inner-container{
    width: 200px;
    height: 200px;
    background-color: rgb(31, 196, 201);
    display: flex;
    justify-content: center;
    align-items: center;


    /* transform: scale(1.2);   Used to increase or descrese the size */
    /* transform: scaleX(0.5);  Horizontal shriking */
    /* transform: scaleY(1.2); Vertical effect */
    /* transform: scaleX(1.5) scaleY(2);  => transform: scale(1.5, 2); */

    /* transform: skew(50deg); */
    /* transform: skew(50deg, 20deg); */

    /* transform: translate(20px, 60px); */
    /* transform: translate(50%); */

    /* transform: rotate(30deg); */

    /* transform: rotate(20deg) scale(1.3) skew(30deg) translate(50%); */
    transform-origin: top left;
    transition: 1.5s ease;
}

.inner-container:hover{
    transform: rotate(70deg);
}