*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100vw;
    height: 100vh;
}

/* Navbar */

nav{
    width: 100vw;
    height: 10vh;
    padding: 1vh 2vw;
}

nav img{
    width: 6vw;
    min-width: 60px;
    vertical-align: middle;
}

ul{
    display: inline-block;
    vertical-align: middle;
    margin-left: 3vw;
}

ul li{
    display: inline-block;
    margin: 0 2vw;
    font-size: 1.2vw;
}

#user{
    display: inline-block;
    vertical-align: middle;
    margin-left: 10vh;
    padding: 1vw;
    background-color: aqua;
    border-radius: 8px;
}

/* Hero Section */

.Hero{
    width: 100vw;
    height: 90vh;
    padding: 5vh 5vw;
}

/* Left Side */

.div1{
    display: inline-block;
    width: 40vw;
    vertical-align: middle;
}

.div1 h1{
    font-size: 3vw;
    margin-bottom: 3vh;
}

#p1{
    color: rgb(23,95,240);
    display: inline;
}

.div1 p{
    font-size: 1.2vw;
    line-height: 1.8;
}

button{
    margin-top: 3vh;
    padding: 1.5vh 2vw;
    background-color: rgb(62,168,203);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.1vw;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background-color: rgb(23,95,240);
    transform: scale(1.05);
}

/* Right Side */

.div2{
    display: inline-block;
    width: 40vw;
    vertical-align: middle;
    text-align: center;
}

.div2 img{
    width: 30vw;
    max-width: 100%;
}

@media(min-width:768px) and (max-width:1023px){
    .div1 h1{
    font-size: 2vw;
    margin-bottom: 2vh;
    }

    .div1 p{
    font-size: 1.2vw;
    }

    #user{
    margin-left: 30px;
    padding: 7px 10px;
}

}


@media(max-width:767px){

    ul li{
        display:none;
    }

    .Hero{
        display:flex;
        flex-direction:column;
        text-align:center;
    }

    .div1,
    .div2{
        width:100%;
    }

    .div1 h1{
        font-size:8vw;
    }

    .div1 p{
        font-size:4vw;
    }

    button{
        font-size:4vw;
    }

    .div2 img{
        width:60vw;
    }
}
